.colorbox {
    background-color: red;
}

.span_box {
color: blueviolet;

} 
#myarticle {
    background-color: aquamarine;
}

.jellyfish {
    background-color: blueviolet;
}

#david {
    padding: 50px 20px;

}